body{

}



.blue-btn {
  background-color: blue;
}

#container {
  display: flex;
  justify-content: center; 
  flex-direction: row;
}
 #one{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 }
 #two{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 }

