html, body{
	height: 100%
}
.parent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
       }
.title{
	 border-bottom: 1px solid yellow;  
}

 button
 {
 	width: : 300px;
 }

 .buttons{
 	display: flex;
 	justify-content: space-around;

 }