body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

section:nth-child(3n) {
  background: #f7f7f7;
}

.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

header {
  background: url("../img/first-bg.jpg") no-repeat center top/cover;
  height: 700px;
}

.container {
  width: 930px;
  margin: 0 auto;
}

.logo {
  margin-top: 40px;
  float: left;
}

nav {
  float: right;
  padding-top: 45px;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline;
  padding-right: 35px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

nav a:hover {
  border-bottom: 1px solid yellow;
  transition: 0.1s;
}

.titles {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 40px;
}

.titles .titles__first {
  margin-top: 210px;
}

.titles h1 {
  font-weight: bold;
  font-size: 75px;
  margin: 41px 0;
}

.header__button {
  display: block;
}

.header__button button {
  display: block;
  margin: 0px auto;
  margin-top: 60px;
  background: #fed136;
  color: #857340;
  border: none;
  border-radius: 3px;
  padding: 25px 53px;
  font-size: 18px;
  text-transform: uppercase;
}

.header__button button:hover {
  background: #fedd69;
  transition: 0.3s;
}

.container__text {
  text-align: center;
}

.container__text h2 {
  margin: 0px;
  padding: 0px;
  padding-top: 120px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.container__text .container__subtitle {
  font-size: 16px;
  color: #777777;
  padding-top: 21px;
  padding-bottom: 80px;
}

.icons {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.icons h3 {
  font-size: 18px;
  font-weight: bold;
}

.icons p {
  font-size: 14px;
  color: #777;
}

.images {
  display: flex;
  justify-content: space-between;
  padding-bottom: 135px;
}

.images img {
  padding: 0px;
  margin: 0px;
}

.about {
  text-align: center;
}

.about .about__item {
  float: left;
  display: block;
  margin: 0 auto;
  width: 520px;
}

.about .item__text {
  text-align: right;
  float: left;
  width: 285px;
}

.about h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.about p {
  font-size: 14px;
  color: #777;
}

.about .about__item:nth-child(2n) {
  float: right;
}

.about .about__item:nth-child(2n) .item__text {
  text-align: left;
  float: right;
}

footer {
  font-size: 14px;
  color: #555555;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 112px;
}
