
html, body{
	height: 100%
}
button
 {
 	width: : 300px;
 }

h1 {
  color: red;
}
h2{
	margin-left: 5px;
	margin-right: 5px;
}
h3{
	margin-left: 5px;
	margin-right: 5px;
}
h4{
	margin-left: 5px;
	margin-right: 5px;
}
h5{
	margin-left: 5px;
	margin-right: 5px;
}
h3{
	margin-left: 5px;
	margin-right: 5px;
}
h6{
	margin-left: 5px;
	margin-right: 5px;
}

input{
	width: 200px;
}
form{
	margin-right: 5px;
}

#parent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
       }
#parent_log {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  margin: 20px;
       }
.plog{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start; 
       }
.img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 
       }
.search{
  height: 10%;
  width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color:#000000;  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
       }

.log_input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-top: : 20px

       }
  .btlogin{
 	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    margin-left: 70px;
    margin-top: 30px;
 }
 .p_inicial{
 	display: flex;
    flex-direction: row;
    justify-content: space-between;        
 }
 .p_inicial_2{
 	display: flex;
    flex-direction: row;
    justify-content: flex-end;        
 }
 .p_inicial_list{
 	 height: 60%;
	 width: 100%;
	 border-style: solid;
	 border-width: 4px;
	 border-color:#000000; 
 	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;         
 }
 .btn_add{
 	margin-right: 5px;
 }
 .titl_list{
 	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
 }
 .ride_1{
 	display: flex;
    flex-direction: column;
    justify-content: space-between;     
    align-items: flex-start;
 }
  .ride_2{
  	display: flex;
    flex-direction: row;
    justify-content: space-between;     
    align-items: center;
 }
  .ride_2_2{
  	display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;
 }
 .btn_ride{
 	display: flex;
    flex-direction: row;
    justify-content: space-between;     
    align-items: flex-start;
    margin-top: 10px;

 }






 
