$header-color: #5B3A29;
$a-color: white;
$ff: Arial, sans-serif;
$btn-color: #fed136;

body{
	font-family: $ff;
	margin: 0px;
	padding: 0px;
}
section:nth-child(3n){
	background: #f7f7f7;
}
.clearfix:after{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
header{	
	background: url('../img/first-bg.jpg') no-repeat center top / cover;
	height: 700px; 
}
.container{
	width: 930px;
	margin: 0 auto;

}
.logo{
	margin-top: 40px;
	float: left;
}
nav{
	float: right;
	padding-top: 45px;

	ul{
		margin: 0px;
		padding: 0px;
	}
	li{
		display: inline;
		padding-right: 35px;
	}
	a{
		text-decoration: none;
		color: $a-color;
		font-size: 14px;
		text-transform: uppercase;
	}
	a:hover{
		border-bottom: 1px solid yellow;
		transition: 0.1s;
	}	
}
.titles{
	text-align: center;
	text-transform: uppercase;
	color: $a-color;
	font-size: 40px;

	.titles__first{
		margin-top: 210px;
	}

	h1{
		font-weight: bold;
		font-size: 75px;
		margin: 41px 0;
	}
}
	
.header__button{
	display: block;
	button{
		display: block;
		margin: 0px auto;
		margin-top: 60px;
		background: $btn-color;
		color: #857340;
		border: none;
		border-radius: 3px;
		padding: 25px 53px;
		font-size: 18px;
		text-transform: uppercase;
	}
	button:hover{
		background: lighten($btn-color, 10%);
		transition: 0.3s;
	}
}


.container__text{
	text-align: center;
	h2{
		margin: 0px;
		padding: 0px;
		padding-top: 120px;
		margin-bottom: 0px;
		text-transform: uppercase;
		font-size: 40px;
		font-weight: bold;
	}
	.container__subtitle{
		font-size: 16px;
		color: #777777;
		padding-top: 21px;
		padding-bottom: 80px;
	}
}
.icons{
	margin-bottom: 120px;
	display: flex;
	justify-content: space-around;
	text-align: center;

	h3{
		font-size: 18px;
		font-weight: bold;
	}
	p{
		font-size: 14px;
		color: #777;
	}
}
.images{

	display: flex;
	justify-content: space-between;
	padding-bottom: 135px;


	img{
		padding: 0px;
		margin: 0px;
	}
}
.about{
	text-align: center;

	.about__item{
		float: left;
		display: block;
		margin: 0 auto;
		width: 520px;
	}
	.item__text{

		text-align: right;
		float: left;
		width: 285px;
	}
	h3{
		font-weight: bold;
		font-size: 18px;
		margin: 0px;
		padding: 0px;
	}
	p{
		font-size: 14px;
		color: #777;
	}
	.about__item:nth-child(2n){
		float: right;
		.item__text{
			text-align: left;
			float: right;
		}
	}
}
footer{
	font-size: 14px;
	color: #555555;
	text-align: center;
	padding-top: 118px;
	padding-bottom: 112px;
}



